.spin-forward {
  animation: spin-forward 0.75s linear infinite;
}

.spin-back {
  animation: spin-backward 0.5s linear infinite;
}

@keyframes spin-forward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes spin-backward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
