@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: "sukhumvit";
  src: url("assets/fonts/sukhumvit-set/SukhumvitSet-Text.ttf")
    format("truetype");
}

@font-face {
  font-family: "sukhumvit-semibold";
  src: url("assets/fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "sukhumvit-bold";
  src: url("assets/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "sukhumvit-light";
  src: url("assets/fonts/sukhumvit-set/SukhumvitSet-Light.ttf")
    format("truetype");
}

/* Default Setup */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sukhumvit", sans-serif;
}

.main-page {
  background-color: #1e1e1f;
  padding-bottom: 65px;
  min-height: 100vh;
}

h1 {
  font-family: "sukhumvit-bold";
  font-size: 24px;
}

h2 {
  font-family: "sukhumvit-bold";
  font-size: 22px;
}

h3 {
  font-size: 18px;
  font-family: "sukhumvit-semibold";
}

p {
  font-size: 16px;
  font-family: "sukhumvit-light";
}

.shadow-card {
  box-shadow: 0px 6px 6px rgba(112, 144, 176, 0.15);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
