.readmore-container-less {
  width: 100vw;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  background-clip: text; /* Standard property */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.readmore-container-full {
  width: 100vw;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-clip: text; /* Standard property */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
