.anime-card-image {
  background-image: url("../../../public/tt.png");
  background-size: cover;
  transform: scaleY(-1) scaleX(-1);
  background-color: red;
  background-position: center;
  height: 68px; /* Adjust the height as needed */
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
